@{
   
   
  // public DateTime SysTime = new DateTime.Now;
}
@model ModelsProperties

<h1>ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policylakjdlkajd;lkja;lk<br></br>.</p>
<div>

    <div>
        <label asp-for="Boxdate"></label>
        <input asp-for="Boxdate" type="date">
    </div>
    
        <button type="submit">submit you code</button>
    <label asp-for="Boxdate"></label>
    <div>
        <div>
          //
            
          

        </div>

    </div>

</div>

